/* https://www.figma.com/file/FqsxRUhAaXM4ezddQK0CdR/Tenzies */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  display: grid;
  place-items: center;
  background-color: #0b2434;
  font-family: Karla, sans-serif;
  margin-inline: 1.5rem;
}

.game {
  overflow: hidden;
  border-radius: 0.625rem;
  background-color: #f5f5f5;
  color: #2b283a;
  text-align: center;
  padding: 2rem 1.5rem;
}

.game__title {
  font-size: 1.4rem;
  font-weight: 700;
}

.game__description {
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.game__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  transition: margin-bottom 300ms ease-in-out;
}

.game__btn {
  position: relative;
  z-index: 1;
  user-select: none;
  font-size: 1.15rem;
}

.game__btn--reset {
  position: absolute;
  z-index: 0;
  top: 3.9rem;
}

.game__stats__clear-btn {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.game__btn,
.game__stats__clear-btn {
  background: #5035ff;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-family: Karla, sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 0.18);
  transition: box-shadow 250ms ease-in-out;
}

.game__btn:focus,
.game__stats__clear-btn:focus {
  outline: none;
}

.game__btn:hover,
.game__stats__clear-btn:hover {
  box-shadow: inset 5px 5px 10px -3px rgb(0 0 0 / 0.2), 0px 3px 8px rgb(0 0 0 / 0.18);
}

.game__btn:active,
.game__stats__clear-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgb(0 0 0 / 0.7);
}

.game__stats-container {
  margin-top: 2rem;
}

.game__stats + .game__stats {
  margin-top: 0.5rem;
}

.game__stats__text {
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
}

.gameboard {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  place-items: center;
  gap: 1.25rem;
  margin-block: 2.5rem;
}

.gameboard__die {
  display: grid;
  grid-template-areas:
    'a . c'
    'e g f'
    'd . b';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.2rem;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 0.15);
  transition: box-shadow 250ms ease-in-out;
}

.gameboard__die:hover {
  box-shadow: 0px 4px 8px rgb(0 0 0 / 0.18);
}

.gameboard__die-letter {
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  color: #fff;
  font-size: 1.25rem;
  transform: translate(-50%, -50%);
}

.gameboard__die-dot {
  display: block;
  align-self: center;
  justify-self: center;
  height: 0.425rem;
  width: 0.425rem;
  background-color: #2b283a;
  border-radius: 50%;
}

.gameboard__die-dot:nth-child(2) {
  grid-area: b;
}

.gameboard__die-dot:nth-child(3) {
  grid-area: c;
}

.gameboard__die-dot:nth-child(4) {
  grid-area: d;
}

.gameboard__die-dot:nth-child(5) {
  grid-area: e;
}

.gameboard__die-dot:nth-child(6) {
  grid-area: f;
}

.gameboard__die-dot:nth-child(odd):last-child {
  grid-area: g;
}

@media screen and (min-width: 40em) {
  .game {
    max-width: 500px;
  }

  .game__title {
    font-size: 1.625rem;
  }

  .game__description {
    font-size: 0.9rem;
  }

  .game__stats__clear-btn {
    font-size: 0.9rem;
  }

  .game__stats + .game__stats {
    margin-top: 0;
  }

  .gameboard__die {
    height: 3rem;
    width: 3rem;
  }

  .gameboard__die-dot {
    height: 0.5rem;
    width: 0.5rem;
  }
}
